/* app-header.component.css */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa; /* Fundo leve */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.login-button {
  background-color: #007bff; /* Azul */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3; /* Azul mais escuro */
}
