<app-header></app-header>
<main>
  <section class="main-section pad-70">
    <div class="headline">
      <span>PROJETO ARCANJO</span>
      <h1>O projeto que conecta empreendedores com investidores anjos</h1>
    </div>
    <img ngSrc="/assets/principal.png" width="669" height="536">
  </section>
  <section class="benefit-section pad-70">
    <div class="benefit-data">
      <h2>
        886 milhões <br/>
        de Reais
      </h2>
    </div>
    <p>Esse foi o valor de <b>investimento anjo</b> no Brasil no ano de 2023</p>
  </section>
  <section class="cta-section"></section>

  <section class="cta-section pad-70">
    <h2>Quer elevar seu empreendimento e suas<br/>
      conexões para outro nível?</h2>
  </section>
</main>
